.Espaco{
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
}

.Form{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.Input{
    width: 100%;
    padding: 8px;
}